.fixed-width-3 {
  /* border: 1px solid ; */
  display: inline-block;
  width: 3ch; /* Adjust this width based on expected digit length */
  text-align: center;
  
}
.fixed-width-4 {
  /* border: 1px solid ; */

  display: inline-block;
  width: 4ch; /* Adjust this width based on expected digit length */
  text-align: center;
  
}
